<!DOCTYPE html>
<meta http-equiv="refresh" content="30">
<html>
	<head></head>
	<style>
		::-webkit-scrollbar {
			display: none;
		}

		body {
			border: 0px;
			padding: 0px;
			margin: 0px;
			background-color: rgba(0, 0, 0, 1);
			overflow: hidden;
		}

		.GameMsgContener {
			background: rgba(77, 77, 77, 1);
			padding: 0px;
			margin-left: 0px;
			height:100%;
		}
		
		.ConsoleLogo{
			margin:15px;
			width:100%;
		}

		.image{
			border-radius: 8px;
			width: 100%;
		}
		
		.TxtConsole{
			display: block;
			margin-right: 0px;
			margin-left: 0px;
			width: 100%;
			font-size: 52px;
			font-family: 'Alef';
			color:white;
			text-align:center;
			background-color: rgba(0, 0, 0, 1);
		}

		.TxtGameName, .TxtGameImg{
			display: block;
			color: rgb(255, 255, 255);
			font-size: 52px;
			font-family: 'Alef';
			text-align:center;
			word-break: break-word;
			background-color: rgba(0, 0, 0, 1);
			#border: solid white 1px;
		}
	</style>	
	<body>
		<div class="GameMsgContener">
			<div class="TxtConsole">
				<img class="ConsoleLogo" src="../../../../E:/rom_unpack/CONSOLE/media/CONSOLE.svg" alt="CONSOLE"/>
			</div>
			<div class="TxtGameImg">
				<img class="image" src="../../../../E:/rom_unpack/CONSOLE/media/images/CURRENTGAME.png"/ alt=" ">
			</div>
			<div class="TxtGameName">
				<strong>CURRENTGAME</strong>
			</div>
		</div>
	</body>
</html>